* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

/*navbar*/
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

/*text size and colour navbar*/
.nav-upper-text{
    font-size: 0.85rem;
    color: #cccccc;
}

.nav-lower-text{
    font-size: 1rem;
}

/*logo block*/
.nav-logo{

    height: 50px;
    width: 100px;
    margin-left: 20px;

}

.logo{
    background-image: url(/image/amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
    background-position: center;
}

/*address block*/
.nav-address{
    height: 50px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.address-icon {
    display: flex;
    align-items: center;

}

/*nav search bar*/
.nav-search-bar{
    width: 70%;
    height: 40px;
    margin-left: 16px;
    margin-right: 16px;
    /*background-color: #cfcf1d;*/
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
}

.nav-search-select{
    width: 55px;
    color: #0f1111;
    background-color: #efefef;
    text-align: center;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}

.searchbar{
    width: 100%;
    border: none;
    font-size: 1rem;
}

/*.search-icon{*/
/*    width: 45px;*/
/*    color: #0f1111;*/
/*    background-color: burlywood;*/
/*}*/

#search-button{
    width: 45px;
    height: 40px;
    border: none;
    font-size: 1.5rem;
    background-color: burlywood;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

/*nav other options*/
.nav-account-list {
    width: 113px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.nav-return-order{
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 9px;
    margin-left: 6px;
}

/*navigation cart*/
.nav-cart{
    width: 84px;
    height: 50px;
    margin-right: 15px;
    margin-left: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**************************************************************/

/*panel*/
.panel{
    height: 39px;
    background-color: #232F3E;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.all-menu {
    width: 58px;
    padding-left: 1px;
    font-size: 1rem;


}

.panel-options{
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    gap: 15px;


}

.panel-shop-deals{
    font-size: 1rem;
    font-weight: bold;
}


/*hover border*/
.nav-hover-border{
    border: 1px solid transparent;
}

.nav-hover-border:hover{

    border:1px solid white;
}

/************************************************/

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*hero section*/
.hero-section{

    height: 400px;
    width: 1500px;
    background-image: url("/image/hero_section.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background: #F5F6F6;
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    font-size: 0.8rem;

}

/*______hero end_________________________________________________________*/

.grid{
    display: flex;
    justify-content: center;
}
.section1-grid{
    height: 900px;
    width:  1480px;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 420px 420px;
    gap: 12px;
}

.box{
    border: none;
    background-color: #FFFFFF;
}






